/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
form input[type="text"],
form input[type="password"],
form input[type="email"],
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	text-align: left;
}

html,
body {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

fieldset,
img {
	border: 0;
	text-align: center;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: "";
}

abbr,
acronym {
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: 15px/1.3em "Lato", sans-serif;
	color: #343333;
	z-index: 1;
	-webkit-text-size-adjust: none;
	outline: none;
}

html,
body,
html > body {
	max-width: 100%;
	margin: 0px auto;
	display: block;
	background: #ffffff;
}

body {
	text-align: center;
	position: relative;
	height: 100%;
	background: #ffffff;
}

body.overflow {
	overflow: hidden;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover {
	color: $primary-color;
	opacity: 0.7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
	line-height: 1em;
	margin-bottom: 15px;
	font-family: "Prata", serif;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 30px;
}

h4,
h4 * {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
	font-weight: bold !important;
	text-transform: inherit !important;
	font-size: inherit !important;
}

img {
	max-width: 100%;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

br {
	line-height: 1em;
}

strong {
	font-weight: bold;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.center {
	text-align: center;
}

p {
	margin: 0 0 15px 0;
}

span.custom01,
p span.custom01 {
	color: #b86f97;
	font-style: italic;
}

.centered-element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

div.clear {
	clear: both;
}

/* COMMON */

section {
	@include wrapper-page;
	margin-bottom: 150px;
	z-index: 0;
	position: relative;

	h1 {
		margin-bottom: 50px;
	}
}

.main-container {
	margin-top: 120px;
}
