#news {
	p {
		&.message {
			&--correct {
				color: $correct-color;
			}

			&--error {
				color: $error-color;
			}
		}
	}

	.news {
		&__container {
			margin-bottom: 35px;
		}

		&__link {
			display: inline-block;
			width: auto;
			margin-top: 20px;
		}
	}
}

#news-item {
	h1 {
		text-align: center;
		margin-bottom: 20px;
	}
	p {
		text-align: center;
	}
	img {
		max-width: 768px;
		width: 100%;
		margin-bottom: 20px;
	}

	.admin-actions {
		margin-top: 80px;
		display: flex;
	}

	.btn {
		width: auto;
		flex-basis: 100%;
		background-color: transparent;
		color: $primary-color;
		text-align: center;
		padding: 10px 20px;
		cursor: pointer;
		border: 1px solid $primary-color;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-weight: bold;
		position: relative;
		font-size: 15px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

		&:hover {
			color: $secondary-color;
			opacity: 1;
			background-color: $primary-color;
		}

		&--delete {
			background-color: $secondary-color;
			color: $error-color;

			&:hover {
				color: $secondary-color;
				background-color: $error-color;
			}
		}
	}
}
