#success {
	h1{
		text-align: center;
	}

	.admin-actions {
		margin: 80px auto 0;
		display: flex;
		max-width: $tablet;
		width: 100%;
		flex-wrap: wrap;
	}

	.btn {
		display: flex;
		align-items: center;
		justify-content: center;	
		width: auto;
		flex-basis: 50%;
		background-color: transparent;
		color: $primary-color;
		text-align: center;
		padding: 10px 20px;
		cursor: pointer;
		border: 1px solid $primary-color;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-weight: bold;
		position: relative;
		font-size: 15px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

		@media screen and (max-width: $mobile) {
			flex-basis: 100%;
		}

		&:hover {
			color: $secondary-color;
			opacity: 1;
			background-color: $primary-color;
		}

		&:nth-child(2){
			@media screen and (max-width: $mobile) {
				margin-top: 20px;
			}
		}
	}
}
